{% extends 'base.html' %}
{% load widget_tweaks %}
{%block title_head %} LogIn {% endblock %}

{% block content %}

<div class="row my-5">
    <div class="col-lg-6 offset-3 col-md-11 col-sm-11 col-11">
        <div class="card py-3 px-3">
            <div class="card-body text-center">


                <form class="row g-3" method="POST" action="">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class=" form-floating my-3">
                        {% render_field field class="form-control" placeholder="First Name" %}
                        {{field.label_tag}}
                        <span class="errorlist" style="color: red;"> {{field.errors|striptags}} </span>
                    </div>
                    {%endfor%}

                    <input type="submit" class="btn btn-primary form-control rounded">
                    <p class="my-3">Create an Account ? <a href="{% url 'signup' %}">SignUp</a></p>
                </form>
                <br>

            </div>
        </div>
    </div>
</div>


{%endblock%}