{% extends 'base.html' %}
{% load widget_tweaks %}
{%block title_head %} Profile{% endblock %}

{% block content %}

<div class="row mt-3 ">
    <div class="col-lg-12">
        <div class="card">

            <img src="/static/img/back.jpg" style = "height: 291px;" alt="">

            <div class="card-img-overlay">
                {% if profile.picture %}

                <a href="{{ profile.get_absolute_url}}"><img id="img-circle-custom-profile"
                        src="{{ profile.picture.url }}" alt=""></a>

                {% else %}

                <img id="img-circle-custom-profile" src="/static/img/profile-4.jpg" alt="">

                {% endif %}
            </div>

            <div class="card-body">
                <h5 style="font-weight: bold;" class="card-title">{% if profile.first_name %} {{profile.first_name}}
                    {{profile.last_name}} {%endif%}</h5>

                {% if user.is_authenticated %}
                    {% if user == profile.user %}
                    <a class="btn btn-outline-primary secondary-content " href="{% url 'edit-profile' %}" role="button">Update Profile</a>
                {% endif %}
                {% endif %}

                {% if profile.location %}
                <h6 style="font-weight: bold;">Location</h6>
                <span>{{profile.location}}</span>
                {% endif %}

                {% if profile.url %}
                <h6 style="font-weight: bold;">URL:</h6>
                <span>{{profile.url}}</span>
                {% endif %}

                {% if profile.profile_info %}
                <h6 style="font-weight: bold;">BIO:</h6>
                <span>{{profile.profile_info}}</span>
                {% endif %}

                <hr>

                <div class="card-body ">
                    <h5 style="font-weight: bold;" class="card-title text-center">Favorites Articles</h5>

                    <br>

                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        {% for article in articles %}
                        <div class="col">
                            <div class="card h-100">
                                <img src="{{article.picture.url}}" class="card-img-top" alt="..."
                                    style="height: 200px;">
                                <div class="card-body">
                                    <h5 class="card-title "><a href="{{ article.get_absolute_url }}"
                                            class="text-decoration-none text-dark">
                                            {{article.title}}</a></h5>

                                    <p class="card-text">{{article.content| truncatechars:150}}</p>
                                    <hr>
                                    <a href="{{ article.get_absolute_url }}" class="text-decoration-none">READ MORE</a>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


{%endblock%}

{% block pagination%}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if articles.has_previous %}
        <a href=" ?page={{articles.previous_page_number}} "><button type="button"
                class="btn btn-primary">Back</button></a>

        {%endif%}

        {% if articles.has_next %}
        <a href="?page={{articles.next_page_number}}"> <button type="button" class="btn btn-primary">Load
                More</button></a>

        {%endif%}

    </ul>
</nav>
{%endblock%}